@charset "UTF-8";
:root {
  /* primary */
  --primary-color: #eb2f64;
  --primary-light-color: #f36;
  --primary-dark-color: #ba265d;
  /* grey light */
  --grey-light-1-color: #faf9f9;
  --grey-light-2-color: #f4f2f2;
  --grey-light-3-color: #f0eeee;
  --grey-light-4-color: #ccc;
  /* grey dark */
  --grey-dark-1-color: #333;
  --grey-dark-2-color: #777;
  --grey-dark-3-color: #999;
  /* light */
  --light-color: #fff;
  /* shadows */
  --shadow-dark: 0 2rem 6rem rgb(0 0 0 / 30%);
  --shadow-light: 0 2rem 5rem rgb(0 0 0 / 6%);
  /* borders */
  --border-grey: 1px solid var(--grey-light-2-color);
}

/* 1200px */
/* 1100px */
/* 900px */
/* 600px */
/* 500px */
@-webkit-keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 69em) {
  html {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  color: var(--grey-dark-2-color);
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--primary-light-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1-color);
  box-shadow: var(--shadow-dark);
}
@media (max-width: 75em) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--light-color);
  border-bottom: var(--border-grey);
}
@media (max-width: 32em) {
  .header {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    height: auto;
    padding-top: 1.5rem;
  }
}

.content {
  display: flex;
}
@media (max-width: 57em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-dark-1-color);
}

.hotel-view {
  flex: 1;
  background-color: var(--light-color);
}

.detail {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: var(--grey-light-1-color);
  border-bottom: var(--border-grey);
}
@media (max-width: 57em) {
  .detail {
    padding: 3rem;
  }
}
@media (max-width: 38em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  padding: 3rem;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
}
@media (max-width: 57em) {
  .description {
    padding: 2rem;
  }
}

.reviews {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;
}
@media (max-width: 57em) {
  .reviews {
    gap: 3rem;
  }
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 32em) {
  .search {
    flex: 0 0 100%;
    order: 1;
    padding: 1rem 0;
    background-color: var(--grey-light-2-color);
  }
}
.search__input {
  width: 90%;
  margin-right: -3.5rem;
  padding: 0.7rem 2rem;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--grey-light-2-color);
  border: none;
  border-radius: 100px;
  transition: all 0.3s;
}
@media (max-width: 32em) {
  .search__input {
    width: 95%;
  }
}
.search__input:focus {
  width: 100%;
  background-color: var(--grey-light-3-color);
  outline: none;
}
@media (max-width: 32em) {
  .search__input:focus {
    width: 95%;
    background-color: var(--grey-light-2-color);
  }
}
.search__input::-moz-placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__input:-ms-input-placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__input::placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__button {
  background-color: var(--grey-light-2-color);
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__input:focus + .search__button {
  background-color: var(--grey-light-3-color);
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--grey-dark-3-color);
}

.user-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: stretch;
  margin-right: 2rem;
}
.user-nav > * {
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-nav > *:hover {
  background-color: var(--grey-light-2-color);
}
.user-nav__icon-box {
  position: relative;
  display: flex;
  align-items: center;
}
.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--grey-dark-2-color);
}
.user-nav__notification {
  position: absolute;
  top: 1.6rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.74rem;
  height: 1.74rem;
  color: var(--light-color);
  font-size: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.user-nav__user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user-nav__user-photo {
  width: 3.75rem;
  border-radius: 50%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none;
}
@media (max-width: 57em) {
  .side-nav {
    flex-direction: row;
    margin: 0;
  }
}
.side-nav__item {
  position: relative;
}
@media (max-width: 57em) {
  .side-nav__item {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 1rem;
  }
}
.side-nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  content: "";
}
.side-nav__item--active::before, .side-nav__item:hover::before {
  width: 100%;
  transform: scaleY(1);
}
.side-nav__item:active::before {
  background-color: var(--primary-light-color);
}
.side-nav__link:link, .side-nav__link:visited {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 3rem;
  color: var(--grey-light-1-color);
  text-transform: uppercase;
  text-decoration: none;
}
@media (max-width: 38em) {
  .side-nav__link:link, .side-nav__link:visited {
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem;
  }
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentcolor;
}
@media (max-width: 38em) {
  .side-nav__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.legal {
  padding: 2.5rem;
  color: var(--grey-light-4-color);
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 57em) {
  .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--border-grey);
}
@media (max-width: 32em) {
  .overview {
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
.overview__heading {
  padding: 1.5rem 3rem;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 38em) {
  .overview__heading {
    padding: 1.25rem 2rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 32em) {
  .overview__heading {
    flex: 100%;
    text-align: center;
  }
}
.overview__location {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-left: auto;
  font-size: 1.2rem;
}
@media (max-width: 32em) {
  .overview__location {
    margin-left: 0;
  }
}
.overview__location-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--primary-color);
}
.overview__rating {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  margin-left: 3rem;
  padding: 0 2rem;
  color: var(--light-color);
  background-color: var(--primary-color);
}
@media (max-width: 38em) {
  .overview__rating {
    padding: 0 1.5rem;
  }
}
.overview__rating-average {
  margin-bottom: -3px;
  font-size: 2.25rem;
}
@media (max-width: 38em) {
  .overview__rating-average {
    font-size: 1.8rem;
  }
}
.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}
@media (max-width: 38em) {
  .overview__rating-count {
    font-size: 0.5rem;
  }
}

.stars {
  display: flex;
  gap: 0.2rem;
}
@media (max-width: 32em) {
  .stars {
    margin-right: 2rem;
  }
}
.stars__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--primary-color);
}

.btn-inline {
  display: inline-block;
  padding-bottom: 2px;
  color: var(--primary-color);
  font-size: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentcolor;
  cursor: pointer;
  transition: color 0.3s;
}
.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}
.btn-inline:hover {
  color: var(--grey-dark-1-color);
}
.btn-inline:hover span {
  margin-left: 8px;
}
.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 3rem 0;
  padding: 3rem 0;
  list-style-type: none;
  border-top: var(--border-grey);
  border-bottom: var(--border-grey);
}
.list__item {
  position: relative;
  display: flex;
  flex: 0 0 49%;
  align-items: center;
  padding-left: 1.2rem;
}
@media (max-width: 32em) {
  .list__item {
    flex: 100%;
  }
}
.list__item::before {
  position: absolute;
  top: 50%;
  left: -0.2rem;
  width: 1rem;
  height: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--primary-color);
  transform: translateY(-50%);
  content: "";
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-image: url("../img/chevron-thin-right.svg");
          mask-image: url("../img/chevron-thin-right.svg");
}

.recommend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-dark-3-color);
  font-size: 1.3rem;
}
.recommend__friends {
  display: flex;
}
.recommend__photo {
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--light-color);
  border-radius: 50%;
}
.recommend__photo:not(:last-child) {
  margin-right: -1.2rem;
}

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  overflow: hidden;
  background-color: var(--light-color);
  background-image: url("");
  box-shadow: var(--shadow-light);
}
.review::before {
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  z-index: 0;
  color: var(--grey-light-2-color);
  font-size: 20rem;
  font-family: sans-serif;
  line-height: 1;
  content: "“";
}
.review__text {
  z-index: 1;
}
.review__user {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.review__photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.review__user-box {
  display: flex;
  flex-direction: column;
}
.review__user-name {
  font-weight: 700;
  text-transform: uppercase;
}
.review__user-date {
  color: var(--grey-dark-3-color);
  font-size: 1rem;
}
.review__rating {
  margin-left: auto;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 2.25rem;
  text-transform: uppercase;
}
@media (max-width: 57em) {
  .review {
    padding: 2rem;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}
.cta__book {
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media (max-width: 57em) {
  .cta {
    padding: 2.5rem 0;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  color: var(--light-color);
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--primary-light-color), var(--primary-dark-color));
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.btn__visible {
  display: inline-block;
  padding: 2rem 7.5rem;
  transition: transform 0.2s;
}
.btn__hidden {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  transform: translateY(-100%);
  transition: transform 0.3s, background-image 0.3s;
}
.btn:hover {
  background-image: linear-gradient(to left, var(--primary-light-color), var(--primary-dark-color));
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__hidden {
  transform: translateY(0);
}
.btn:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}/*# sourceMappingURL=main.css.map */