html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  color: var(--grey-dark-2-color);
  font-weight: 400;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--primary-light-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  /* primary */
  --primary-color: #eb2f64;
  --primary-light-color: #f36;
  --primary-dark-color: #ba265d;
  /* grey light */
  --grey-light-1-color: #faf9f9;
  --grey-light-2-color: #f4f2f2;
  --grey-light-3-color: #f0eeee;
  --grey-light-4-color: #ccc;
  /* grey dark */
  --grey-dark-1-color: #333;
  --grey-dark-2-color: #777;
  --grey-dark-3-color: #999;
  /* light */
  --light-color: #fff;
  /* shadows */
  --shadow-dark: 0 2rem 6rem rgb(0 0 0 / 30%);
}

@-webkit-keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1-color);
  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--grey-light-2-color);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-dark-1-color);
}

.hotel-view {
  flex: 1;
  height: 80rem;
  background-color: var(--light-color);
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
}
.search__input {
  width: 90%;
  margin-right: -3.5rem;
  padding: 0.7rem 2rem;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--grey-light-2-color);
  border: none;
  border-radius: 100px;
  transition: all 0.3s;
}
.search__input:focus {
  width: 100%;
  background-color: var(--grey-light-3-color);
  outline: none;
}
.search__input::-moz-placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__input:-ms-input-placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__input::placeholder {
  color: var(--grey-light-4-color);
  font-weight: 100;
}
.search__button {
  background-color: var(--grey-light-2-color);
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__input:focus + .search__button {
  background-color: var(--grey-light-3-color);
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--grey-dark-3-color);
}

.user-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-self: stretch;
  margin-right: 2rem;
}
.user-nav > * {
  height: 100%;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-nav > *:hover {
  background-color: var(--grey-light-2-color);
}
.user-nav__icon-box {
  position: relative;
  display: flex;
  align-items: center;
}
.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--grey-dark-2-color);
}
.user-nav__notification {
  position: absolute;
  top: 1.6rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.74rem;
  height: 1.74rem;
  color: var(--light-color);
  font-size: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.user-nav__user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.user-nav__user-photo {
  width: 3.75rem;
  border-radius: 50%;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none;
}
.side-nav__item {
  position: relative;
}
.side-nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  content: "";
}
.side-nav__item--active::before, .side-nav__item:hover::before {
  width: 100%;
  transform: scaleY(1);
}
.side-nav__item:active::before {
  background-color: var(--primary-light-color);
}
.side-nav__link:link, .side-nav__link:visited {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1.5rem 3rem;
  color: var(--grey-light-1-color);
  text-transform: uppercase;
  text-decoration: none;
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentcolor;
}

.legal {
  padding: 2.5rem;
  color: var(--grey-light-4-color);
  font-size: 1.2rem;
  text-align: center;
}

.gallery {
  display: flex;
}
.gallery__photo {
  display: block;
  width: 100%;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-light-2-color);
}
.overview__heading {
  padding: 1.5rem 3rem;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.overview__location {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-left: auto;
  font-size: 1.2rem;
}
.overview__location-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--primary-color);
}
.overview__rating {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  margin-left: 3rem;
  padding: 0 2rem;
  color: var(--light-color);
  background-color: var(--primary-color);
}
.overview__rating-average {
  margin-bottom: -3px;
  font-size: 2.25rem;
}
.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.stars {
  display: flex;
  gap: 0.2rem;
}
.stars__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--primary-color);
}

.btn-inline {
  display: inline-block;
  padding-bottom: 2px;
  color: var(--primary-color);
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentcolor;
  cursor: pointer;
  transition: color 0.3s;
}
.btn-inline:hover {
  color: var(--grey-dark-1-color);
}
.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}/*# sourceMappingURL=main.css.map */