.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1-color);
  box-shadow: var(--shadow-dark);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--light-color);
  border-bottom: 1px solid var(--grey-light-2-color);
}

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-dark-1-color);
}

.hotel-view {
  flex: 1;
  height: 80rem;
  background-color: var(--light-color);
}
