.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1-color);
  box-shadow: var(--shadow-dark);

  @include bp($bp-desc) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  font-size: 1.4rem;
  background-color: var(--light-color);
  border-bottom: var(--border-grey);

  @include bp($bp-mobile) {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    height: auto;
    padding-top: 1.5rem;
  }
}

.content {
  display: flex;
  @include bp($bp-tablet) {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  flex: 0 0 18%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-dark-1-color);
}

.hotel-view {
  flex: 1;
  background-color: var(--light-color);
}

.detail {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  font-size: 1.4rem;
  background-color: var(--grey-light-1-color);
  border-bottom: var(--border-grey);
  @include bp($bp-tablet) {
    padding: 3rem;
  }

  @include bp($bp-tablet-sm) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  padding: 3rem;
  background-color: var(--light-color);
  box-shadow: var(--shadow-light);
  @include bp($bp-tablet) {
    padding: 2rem;
  }
}

.reviews {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3.5rem;
  align-items: center;

  @include bp($bp-tablet) {
    gap: 3rem;
  }
}
