:root {
  /* primary */
  --primary-color: #eb2f64;
  --primary-light-color: #f36;
  --primary-dark-color: #ba265d;

  /* grey light */
  --grey-light-1-color: #faf9f9;
  --grey-light-2-color: #f4f2f2;
  --grey-light-3-color: #f0eeee;
  --grey-light-4-color: #ccc;

  /* grey dark */
  --grey-dark-1-color: #333;
  --grey-dark-2-color: #777;
  --grey-dark-3-color: #999;

  /* light */
  --light-color: #fff;

  /* shadows */
  --shadow-dark: 0 2rem 6rem rgb(0 0 0 / 30%);
}

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1);
  }

  50% {
    box-shadow: 0 1rem 4rem rgb(0 0 0 / 25%);
    transform: scale(1.05);
  }

  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
